<div style="background-image: linear-gradient(135deg, #4dd358 10%, #FFFFFF 100%)">
    <div class="container">
        <div class="fullscreen d-flex p-2 justify-content-center align-items-center">
            <div class="my-5 mx-5 shadow mb-5 w-100" id="loginForm">
                <div class="row bg-transparent">
                    <div class="col-6 bg-light rounded-start d-flex p-2 justify-content-center align-items-center">
                        <div class="">
                            <div class="row pb-3">
                                <p style="color:black">Powered by</p>
                            </div>
                            <div class="row pb-3">
                                <img class="img-fluid"
                                    src="https://ginesys.in/sites/default/files/ginesys/ginesys-logo-new-dark.svg"
                                    height=20 width=50 alt="Logo">
                            </div>
                            <div class="row py-3">
                                <div class="col-sm-6 d-flex p-2 justify-content-center align-items-center">
                                    <a class="button-facebook text-decoration-none" role="button"
                                        href="https://www.facebook.com/ginesys/" target="_blank">Facebook</a>
                                </div>
                                <div class="col-sm-6 d-flex p-2 justify-content-center align-items-center">
                                    <a class="button-twitter text-decoration-none" role="button"
                                        href="https://twitter.com/Ginesys" target="_blank">Twitter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 rounded-end d-flex p-2 justify-content-center align-items-center"
                        style="background-color: #4dd358;">
                        <div class="">
                            <div class="row pb-3 my-4">
                                <div class="col-sm-6 d-flex p-2 justify-content-start align-items-center">
                                    <img src="https://www.vmartretail.com/logo.png" height="120" width="120"
                                        valign="Centre" alt="Logo">
                                </div>
                                <div class="col-sm-6 d-flex p-2 justify-content-end align-items-center">
                                    <h2><strong>Welcome </strong></h2>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                        aria-describedby="addon-wrapping" [(ngModel)]="username">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text px-3" id="addon-wrapping"><b>*</b></span>
                                    <input type="password" class="form-control" placeholder="Password"
                                        aria-label="Password" aria-describedby="addon-wrapping" [(ngModel)]="password">
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-success" type="button" (click)="login(username, password)"
                                        routerLinkActive="active">Sign-In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>