.dashed-border {
    border-style: none;
}

.data-row {
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8;
    padding-top: 1;
    padding-left: 25;
}

.banner-name {
    font-family: 'Bookman Old Style', Times, serif;
    font-size: 20;
    padding-top: 1;
    padding-left: 25;
}

.mrp-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8;
    padding-top: 1;
    padding-left: 25;
}

.custom-width {
    width: 33%;
}

.custom-height {
    height: 1.5in;
}

.col {
    padding: 0%;
    margin: 0%;
}

@media print {
    .custom-column {
        page-break-inside: avoid;
    }
}