<nav class="navbar navbar-expand-lg navbar-success bg-success">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://www.vmartretail.com/logo.png" alt="" width="30" height="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" target="_blank" href="https://www.vmartretail.com/">VMART Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-light" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Item Master
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" routerLink="/extra-udf">Extra UDF</a></li>
                        <li>
                            <a class="dropdown-item">Another action</a>
                        </li>
                        <li>
                            <a class="dropdown-item">
                                Submenu &raquo;
                            </a>
                            <ul class="list-unstyled dropdown-submenu">
                                <li>
                                    <a class="dropdown-item">Submenu item 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item">Submenu item 2</a>
                                </li>
                                <li>
                                    <a class="dropdown-item">Submenu item 3 &raquo; </a>
                                    <ul class="list-unstyled dropdown-submenu">
                                        <li>
                                            <a class="dropdown-item">Multi level 1</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">Multi level 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item">Submenu item 4</a>
                                </li>
                                <li>
                                    <a class="dropdown-item">Submenu item 5</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-light" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Store Operation
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" routerLink="/promo-signage" routerLinkActive="active">Promo Sinage
                                Printing</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Item Master Information</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item">Choose Site</a></li>
                                <li><a class="dropdown-item" (click)="logoutUser()">Logout User</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>