<div *ngIf="isNavbarVisible">
    <app-header></app-header>
</div>
<div style="color: green; text-align: center; padding: 20px;">
    <h1>  Welcome ! </h1>
<p></p>
    <img src="assets/images/CUSTOMER_LOGO.JPEG" alt="Home Image" style="width: 20%; max-width: 400px; height: auto;">
    <p> </p>
    <p> </p>
    <p style="color: black;margin-top: 5px; font-weight: italic;"> You can Choose desired Options from <Strong>Store Operation </Strong> Menu </p>
    <p></p>
    <p style="Color: Green;  margin-top: 5px; font-weight: bold"> Powered by </p>
    <img src="assets/images/ginesyslogo.png" alt="" width="150" height="35">
</div>