<!-- <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist"></ul> -->
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified m-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-Warning" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                type="button" role="tab" aria-controls="home" aria-selected="true"><strong>Barcode /  EANCODE </strong></button>
        </li>
<!--        <li class="nav-item" role="presentation">
            <button class="nav-link text-warning" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false"><strong>EAN
                    Code</strong></button>
        </li> -->
        <li class="nav-item" role="presentation">
            <button class="nav-link text-warning" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                type="button" role="tab" aria-controls="messages"
                aria-selected="false"><strong>Messages</strong></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-warning" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings"
                type="button" role="tab" aria-controls="settings" aria-selected="false"><strong>Item
                    Information</strong></button>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container my-4 mx-5">
                <div *ngIf="barcodeModelList">
                    <div *ngFor="let barcodeModel of barcodeModelList; let i = index"
                        class="row g-2 d-flex justify-content-center align-items-justify">
                        <div class="col-lg-1 mb-3 d-flex justify-content-center align-items-justify">
                            <label for="barcode" class="form-label">Enter Barcode</label>
                        </div>
                        <div class="col-lg-2 mb-4 d-flex justify-content-center align-items-justify">
                            <input type="text" class="form-control" id="barcode" placeholder="123456789"
                                [(ngModel)]="barcodeModel.barcode">
                        </div>
                        <div class="col-lg-2 mb-4 d-flex justify-content-center align-items-justify">
                            <label for="quantity" class="form-label">Print Quantity</label>
                        </div>
                        <div class="col-lg-1 mb-4 d-flex justify-content-center align-items-justify">
                            <input type="number" class="form-control" id="quantity" placeholder="1" maxlength="3"
                                [(ngModel)]="barcodeModel.printQuantity">
                        </div>
                        <div class="col-lg-2 mb-4 btn-group d-flex justify-content-center align-items-justify">
                            <select class="form-select" aria-label="Sinage Type" (change)="assignSignage(barcodeModel, $event)">
                                <option selected disabled>Sinage Type</option>
                                    <option *ngFor="let signageType of signageTypeList; let j = index" value="{{j}}">{{ signageType.text }}</option>
                            </select>
                        </div>
                        <div *ngIf="i==0" class="col-lg-2 mb-4 d-flex justify-content-center align-items-justify">
                            <button class="btn btn-success" (click)="increasePromoArraySize()">Add</button>
                        </div>
                        <div *ngIf="i!=0" class="col-lg-2 mb-4 d-flex justify-content-center align-items-justify">
                            <button class="btn btn-danger"
                                (click)="decreasePromoArraySize(barcodeModel)">Remove</button>
                        </div>
                        <div class="col-lg-2 mb-4 d-flex justify-content-center align-items-justify">
                            <button class="btn btn-success">Info</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button class="btn btn-success" (click)="saveBarcode(barcodeModelList)">Submit</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" (click)="printBarcodes()">Print</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profiles</div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">Messages</div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="row">
                <div class="col-2">
                    <p class="fs-3">Division</p>
                </div>
                <div class="col-2">
                    <div class="dropdown" id="division">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item">Div Api</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <p class="fs-3">Section</p>
                </div>
                <div class="col-2">
                    <div class="dropdown" id="section">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item">Api</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <p class="fs-6">Department</p>
                </div>
                <div class="col-2">
                    <div class="dropdown" id="Department">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item fs-5">API</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <p class="fs-3">Article</p>
                </div>
                <div class="col-5">
                    <div class="dropdown" id="Article">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item">API</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion" id="ItemProp1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5> <b> Item Attributes </b> </h5>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#Itemaccordion">
                        <div class="accordion-body">
                            <div class="d-flex justify-content-center align-items-justify">
                                <h3 class="h3"><u>Category</u></h3>
                            </div>
                            <table class="mx-2 table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>First</th>
                                        <th>Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Cat1</strong> <code> : </code>catAPI1
                            <strong>Cat2</strong> <code> : </code>catAPI2
                            <strong>Cat3</strong> <code> : </code>catAPI3
                            <strong>Cat4</strong> <code> : </code>catAPI4
                            <strong>Cat5</strong> <code> : </code>catAPI5
                            <strong>Cat6</strong> <code> : </code>catAPI6
                            <br>
                            <strong>Attribute 1</strong> <code> : </code>ATT API1
                            <strong>Attribute 2</strong> <code> : </code>ATT API2
                            <strong>Attribute 3</strong> <code> : </code>ATT API3
                            <strong>Attribute 4</strong> <code> : </code>ATT API4
                            <strong>Attribute 5</strong> <code> : </code>ATT API5
                            <strong>Attribute 6</strong> <code> : </code>ATT API6

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h1 class="accordion-header " id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5> <b> Item Pricing </b> </h5>
                        </button>
                    </h1>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#Itemaccordion">
                        <div class="accordion-body">
                            <strong>Standard Price </strong> <code> : </code> 9999.00
                            <strong>MRP </strong> <code> : </code> 9999.00
                            <strong>Last In Price </strong> <code> : </code> 9999.00
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5> <b> Item Image </b> </h5>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#Itemaccordion">
                        <div class="accordion-body">
                            <div id="carouselItemInfo" class="carousel carousel-success slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselItemInfo" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselItemInfo" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselItemInfo" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="../../../../assets/images/1.jpg" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>First slide label</h5>
                                            <p>Some representative placeholder content for the first slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="../../../../assets/images/2.jpg" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Second slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="../../../../assets/images/3.jpg" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselItemInfo"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselItemInfo"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>